// Component Imports

// Colours
$orange: #f49e56;
$transparent: rgba(0, 0, 0, 0);
// Styles
html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;

  .ember-view {
    display: flex;
    flex-direction: column;
  }
}

section {
  padding: 0px 200px;
}

.bg-orange {
  background-color: $orange;
}

h1 {
  font-size: 2.2em;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  > div > p {
    max-width: 450px;
  }
}

.hero-wrapper {
  position: relative;
  overflow: hidden;
  height: 570px;
  background-image: url("/assets/images/hero.jpg");
  background-size: cover;
}

button {
  border-radius: 24px;
  border: none;
  padding: 5px 20px 5px 20px;

  :hover {
    cursor: pointer;
  }
}

.dark {
  color: white;
}
.light {
  color: $orange;
}
button.solid.orange {
  background-color: $orange;
}

button.solid.white {
  background-color: white;
}

button.empty {
  background-color: $transparent;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 200px;
}

input[type="text"],
textarea {
  background-color: $transparent;
  color: white;
  height: 20px;
  border-radius: 24px;
  border: 2px solid white;
  position: relative;
  padding: 3px 0px 3px 10px;
  font-size: 1.12em;
  display: block;
  margin: 5px 0px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: white;
}
