// Component Imports
@import './index/index.scss';
// Colours
$orange: #f49e56;
$transparent: rgba(0, 0, 0, 0);

// Styles
html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  .ember-view {
    min-height: 100vh;
  }
}

section {
  padding: 80px 200px;
}

.bg-orange {
  background-color: $orange;
}

h1 {
  font-size: 2.2em;
}

button {
  border-radius: 24px;
  border: none;
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  letter-spacing: 1px;
  outline: none;
  :hover {
    cursor: pointer;
  }
}

.dark {
  color: white;
}
.light {
  color: $orange;
}
button.solid.orange {
  background-color: $orange;
}

button.solid.white {
  background-color: white;
}

button.empty {
  background-color: $transparent;
}

nav {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

input[type="text"],
textarea {
  background-color: $transparent;
  color: white;
  height: 20px;
  border-radius: 24px;
  border: 2px solid white;
  position: relative;
  padding: 3px 0px 3px 10px;
  font-size: 1.12em;
  display: block;
  margin: 5px 0px;
  outline: none;
}

textarea {
  height: initial;
  padding: 3px 10px 3px 10px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: white;
}

.content {
  flex: 1;
}

footer {
  padding: 20px 200px;

  .footer-left {
    border-right: 1px solid white;
    height: 100%;
  }

  .footer-right {
    ul {
      display: inline-block;
      list-style: none;
    }
  }

  a:hover {
    cursor: pointer;
  }

  a {
    color: white;
  }

  a:visited {
    text-decoration: none;
  }

}

.logo {
  width: 150px;
}

#hero > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.wrapper {
  width: 45%;
}

footer > div {
  display: inline-block;
}

.footer-right {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}