<nav>
    <img alt="Horizons Logo" />
    <span class="left">
        <button type="button" class="dark solid orange" id="try-now">Try Now</button>
        <button type="button" class="dark empty" id="sign-in">Sign In</button>
    </span>
</nav>
<div class="content">
    {{outlet}}
</div>
<footer class="bg-orange dark">
    <span class="footer-left">
        {{#link-to "index"}}Horzions{{/link-to}}
    </span>
    <span class="footer-right">
        <ul>
            <li>
                {{#link-to "contact"}}Contact{{/link-to}}
            </li>
            <li>{{#link-to "terms"}}Terms and Conditions{{/link-to}}</li>
            <li>{{#link-to "privacy"}}Privacy Policy{{/link-to}}</li>
            <li>{{#link-to "about"}}About{{/link-to}}</li>
        </ul>
    </span>
</footer>