<div class="hero-wrapper">
    <nav>
        <img alt="Horizons Logo" />
        <span class="left">
            <button type="button" class="dark solid orange" id="try-now">Try Now</button>
            <button type="button" class="dark empty" id="sign-in">Sign In</button>
        </span>
    </nav>
    <section id="hero" class="">
        <div>
            <h1>Expand your horizons.</h1>
            <p>
                Stop settling for the same horizon day after day. Get out and explore the unknown. View sights unseen and travel to places unvisited.
            </p>
        </div>
    </section>
</div>
<section class="bg-orange">
    <div class="preview-wrapper">
        <div class="phone">

        </div>
        <div class="download-links">
            <span id="app-store"></span>
            <span id="play-store"></span>
        </div>
    </div>
    
    <h1>
        Find out more   
    </h1>
    <div id="enquire-form"></div>
</section>
<section></section>
<footer class="bg-orange"></footer>