<nav>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 572.12 202.2"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;}</style></defs><title>Asset 20</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M355.15,200.21a21.12,21.12,0,0,0,15,0,15.49,15.49,0,0,0,5.66-4,17.8,17.8,0,0,0,3.59-6.31,28.55,28.55,0,0,0,0-16.84,17.93,17.93,0,0,0-3.59-6.34,15.42,15.42,0,0,0-5.66-4,21.12,21.12,0,0,0-15,0,15.5,15.5,0,0,0-5.68,4,17.82,17.82,0,0,0-3.61,6.34,28.76,28.76,0,0,0,0,16.84,17.68,17.68,0,0,0,3.61,6.31A15.57,15.57,0,0,0,355.15,200.21Z"/><path class="cls-1" d="M438.92,201.7l-24.67-31.5c.16,1.73.24,3.34.24,4.81V201.7"/><path class="cls-1" d="M70.67,153H81.32v24.53H108.1V153h10.65v48.7h21a27.28,27.28,0,0,1-5.3-8.57,33.32,33.32,0,0,1,0-23.23,27.41,27.41,0,0,1,5.89-9.25,26.93,26.93,0,0,1,9.14-6.09,30.68,30.68,0,0,1,11.79-2.19,32,32,0,0,1,8.16,1,29,29,0,0,1,7,2.84,25.78,25.78,0,0,1,5.74,4.46,26.82,26.82,0,0,1,4.32,5.86,27.94,27.94,0,0,1,2.7,7,33.28,33.28,0,0,1,.93,8A31.85,31.85,0,0,1,188,193.13a27.37,27.37,0,0,1-5.26,8.57h20.94V153H221.1a36.21,36.21,0,0,1,10,1.2,19.09,19.09,0,0,1,6.82,3.37,13.19,13.19,0,0,1,3.93,5.19,18,18,0,0,1,.41,12.09,15.83,15.83,0,0,1-2.44,4.66,16.51,16.51,0,0,1-3.95,3.66,19.89,19.89,0,0,1-5.34,2.49,10.28,10.28,0,0,1,1.89,1.4A9.68,9.68,0,0,1,234,189l8.63,12.73h16.1V153h10.65v48.7h14.11l28.45-40.26H283.42V153h42.2v3.9a5.76,5.76,0,0,1-1,3.32l-29.27,41.33H325v.15h16.19a27.47,27.47,0,0,1-5.3-8.57,33.32,33.32,0,0,1,0-23.23,27.41,27.41,0,0,1,5.89-9.25,26.93,26.93,0,0,1,9.14-6.09,30.72,30.72,0,0,1,11.79-2.19,32,32,0,0,1,8.16,1,29,29,0,0,1,7,2.84,25.78,25.78,0,0,1,5.74,4.46,26.82,26.82,0,0,1,4.32,5.86,27.94,27.94,0,0,1,2.7,7,33.28,33.28,0,0,1,.93,8,31.85,31.85,0,0,1-2.07,11.61,27.18,27.18,0,0,1-5.26,8.57h20.94V153h5.56a9.88,9.88,0,0,1,1.17.06,3.09,3.09,0,0,1,.86.23,2.66,2.66,0,0,1,.73.52,7.54,7.54,0,0,1,.79.89l29.9,38.18c-.08-.92-.15-1.83-.2-2.72s-.08-1.73-.08-2.49V153h9.35v48.7h13.33l2.21-3.62a3.28,3.28,0,0,1,1-.92,2.48,2.48,0,0,1,1.34-.38,3.8,3.8,0,0,1,2.13.81c.76.54,1.67,1.14,2.72,1.79a21.15,21.15,0,0,0,3.69,1.8,11.33,11.33,0,0,0,2,.52h5.93a8.79,8.79,0,0,0,4.17-1.86,7.74,7.74,0,0,0,2.48-6.17,5.72,5.72,0,0,0-1.12-3.67,9.09,9.09,0,0,0-3-2.39,22.77,22.77,0,0,0-4.22-1.64q-2.37-.66-4.81-1.46a39.31,39.31,0,0,1-4.81-1.89,15.6,15.6,0,0,1-4.23-2.88,13.11,13.11,0,0,1-3-4.44,16.85,16.85,0,0,1-1.13-6.56,15.84,15.84,0,0,1,4.85-11.32,17.68,17.68,0,0,1,5.84-3.67,21.44,21.44,0,0,1,8-1.38,26.68,26.68,0,0,1,9.31,1.57,21.08,21.08,0,0,1,7.25,4.42l-2.64,5a3.6,3.6,0,0,1-1,1.21,2.27,2.27,0,0,1-1.33.37,3.36,3.36,0,0,1-1.79-.61c-.64-.41-1.41-.86-2.31-1.36a19.19,19.19,0,0,0-3.13-1.36,13.13,13.13,0,0,0-4.24-.61,12.53,12.53,0,0,0-3.87.53A8.1,8.1,0,0,0,480.1,163a5.94,5.94,0,0,0-1.68,2.27,7.55,7.55,0,0,0-.55,2.89,5.06,5.06,0,0,0,1.13,3.36,9.55,9.55,0,0,0,3,2.29,27.45,27.45,0,0,0,4.22,1.69q2.35.75,4.85,1.6a45.17,45.17,0,0,1,4.85,2,16.89,16.89,0,0,1,4.22,2.84,13.11,13.11,0,0,1,3,4.2,14.61,14.61,0,0,1,1.12,6,19.63,19.63,0,0,1-1.32,7.23,16.65,16.65,0,0,1-1.19,2.3h69.7C529.63,84.44,417.66.5,286.06.5S42.49,84.44.71,201.7h70Z"/><path class="cls-1" d="M153.72,200.21a21.12,21.12,0,0,0,15,0,15.49,15.49,0,0,0,5.66-4,17.8,17.8,0,0,0,3.59-6.31,28.55,28.55,0,0,0,0-16.84,17.93,17.93,0,0,0-3.59-6.34,15.42,15.42,0,0,0-5.66-4,21.12,21.12,0,0,0-15,0,15.5,15.5,0,0,0-5.68,4,17.82,17.82,0,0,0-3.61,6.34,28.55,28.55,0,0,0,0,16.84,17.68,17.68,0,0,0,3.61,6.31A15.57,15.57,0,0,0,153.72,200.21Z"/><polyline class="cls-1" points="108.1 201.7 108.1 185.11 81.32 185.11 81.32 201.7"/><path class="cls-1" d="M230.63,201.7l-7.91-12.06a4.27,4.27,0,0,0-1.48-1.46,5.2,5.2,0,0,0-2.39-.43h-4.53V201.7"/><path class="cls-1" d="M226.17,179.39a10.09,10.09,0,0,0,3.67-2.07,8.48,8.48,0,0,0,2.15-3.14,10.92,10.92,0,0,0,.71-4,8.12,8.12,0,0,0-2.86-6.67q-2.86-2.33-8.74-2.33h-6.78v18.94h6.62A16.45,16.45,0,0,0,226.17,179.39Z"/></g></g></svg>
    <span class="left">
        <button type="button" class="dark solid orange" id="try-now">Try Now</button>
        <button type="button" class="dark empty" id="sign-in">Sign In</button>
    </span>
</nav>
<div class="content">
    {{outlet}}
</div>
<footer class="bg-orange dark">
    <span class="footer-left">
        {{#link-to "index"}}Horzions{{/link-to}}
    </span>
    <span class="footer-right">
        <ul>
            <li>
                {{#link-to "contact"}}Contact{{/link-to}}
            </li>
            <li>{{#link-to "terms"}}Terms and Conditions{{/link-to}}</li>
            <li>{{#link-to "privacy"}}Privacy Policy{{/link-to}}</li>
            <li>{{#link-to "about"}}About{{/link-to}}</li>
        </ul>
    </span>
</footer>