<nav>
    <span class="left">
        {{#link-to "index"}}<img class="logo" src="/assets/images/logo_white_large.png"/>{{/link-to}}
        <span>
            <a href="https://www.apple.com/au/ios/app-store/" target="_blank"><button type="button" class="dark solid orange" id="try-now">Try Now</button></a>
        </span>
    </span>
</nav>
<div class="content">
    {{outlet}}
</div>
<footer class="bg-orange dark">
    <div class="footer-left">
        {{#link-to "index"}}<img class="logo" src="/assets/images/logo_white_large.png">{{/link-to}}
    </div>
</footer>