<section id="hero" class="dark">
    <div>
        <div class="wrapper">
            <h1>Expand your horizons.</h1>
            <p>
                Stop settling for the same horizon day after day. Get out and explore the unknown. View sights unseen
                and
                travel to places unvisited.
            </p>
        </div>
    </div>
</section>
<section class="bg-orange dark previews">
    <div class="image-wrapper">
        <img class="phone-mockup" src="/assets/images/oberon_mockup_white.png" />

    </div>
    <div>
        <h1>What is horizons?</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rt_xElMS64A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</section>
<section id="quote">
    <h1>
        The horizon changes, but the sun does not.
    </h1>
    <small>Joyce Rachelle</small>
</section>
{{outlet}}