<section id="hero" class="dark">
    <div>
        <div class="wrapper">
            <h1>Expand your horizons.</h1>
            <p>
                Stop settling for the same horizon day after day. Get out and explore the unknown. View sights unseen and
                travel to places unvisited.
            </p>
        </div>
    </div>
</section>
<section class="bg-orange dark">
    <div class="preview-wrapper">
        <div class="phone">

        </div>
        <div class="download-links">
            <span id="app-store"></span>
            <span id="play-store"></span>
        </div>
    </div>

    <h1>
        Find out more
    </h1>
    <p>
        If you'd like to get in touch, fill out the form bellow and we'll get back to you ASAP.
    </p>
    <div class="form-wrapper">
        <form id="enquire-form">
            <input type="text" name="full-name" placeholder="Full Name">
            <input type="text" name="email-address" placeholder="Email Address">
            <textarea name="" id="" cols="25" rows="10" placeholder="Message"></textarea>

            <button type="submit" class="light white solid">Submit</button>
        </form>
    </div>
</section>
<section id="quote">
    <h1>
        The horizon changes, but the sun does not.
    </h1>
    <small>Joyce Rachelle</small>
</section>
{{outlet}}