<div class="proto-display">
<iframe style="border: none;" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FUknoaQXZE1T7il3yqfOd3eQt%2FMDP%3Fnode-id%3D25%253A1325%26viewport%3D223%252C299%252C0.06763400137424469%26scaling%3Dscale-down" allowfullscreen></iframe>

</div>